@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@model Smartshop_FrontEnd.Models.Shopper

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/shopper.css">
</head>

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Fast<span>Market</span></div>
    <br />
    <div>Cart</div>
</div>
<br>
<div class="login">
    <br>
    <input type="text" id="first_email" placeholder="correo electronico" name="first_email"><br>
    <br>
    <input type="text" id="second_email" placeholder="verifique su correo" name="second_email"><br>
    <input type="submit" value="Ingresar" onclick="compareElements()" />
</div>

@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        function compareElements() {
            if (document.getElementById('first_email').value === document.getElementById('second_email').value) {

                sessionStorage.setItem('email', document.getElementById('first_email').value);

                var baseUrl = "@Url.Action("Save","Shoppers")";

                // Now append your query string variables to baseUrl
                // Ex : baseUrl=baseUrl+"?searchString=testing";

                window.location.href = baseUrl;

            }
        }
    </script>

}
