@model IEnumerable<Smartshop_FrontEnd.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/bill.css">
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://nccid.ca/wp-content/uploads/sites/2/2015/03/generic-logo.jpg" style="width: 100%; max-width: 300px" />
                            </td>

                            <td>
                                Invoice #: 1<br />
                                Created: Today<br />
                                Due: Today
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="3">
                    <table>
                        <tr>
                            <td>
                                Smart Shop Demo.<br />
                                12345<br />
                                Bogotá Colombia
                            </td>
                            <td>
                            </td>
                            <td>
                                Arduino.<br />
                                Michelle Daza<br />
                                mdaza@tesis.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Item</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
            <tr class="item">
                <td>Pollo</td>
                <td>Cantidad</td>
                <td>15000</td>
            </tr>
            <tr class="item">
                <td>Queso</td>
                <td>Cantidad</td>
                <td>2000</td>
            </tr>
            <tr class="total">
                <td></td>
                <td></td>
                <td>Subtotal: $10.000</td>
            </tr>

            <tr class="total">
                <td></td>
                <td></td>
                <td>IVA: $10000</td>
            </tr>

            <tr class="total">
                <td></td>
                <td></td>
                <td>total: $10000</td>
            </tr>
        </table>

    </div>

</body>